.header-bg {
    background: url(../img/kali.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}
.modal-title{
	text-align: center;
}
#menu_h1{
  float: left;
  margin-left: 10px;
  font-size: 25px;
  margin-top: 10px;
  color: white;
}


/* MODAL LOGIN */

.form-control-feedback {
	/*top: 10px;*/
	/*right: 20px;*/
	top: 21px;
    right: 23px;
}	

.form-control{
	height: 55px;
	outline: 0;

}

.no-margin-b{
	margin-bottom: 0px;
}
.br-1{
	border-radius: 5px 5px 0px 0px;
}

.br-2{
	border-radius: 0px 0px 5px 5px;
}
.no-br-b{
	border-bottom: 0px;
}

.br-3{
	border-radius: 0; 
}


.modal-header {
    border-bottom: 0px solid #e5e5e5; 
}

.modal-content {
	background: #f9f9f9 none repeat scroll 0 0;
	border-radius: 0px;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 180px 10px;
}
.modal-body {
    position: relative;
    padding: 0px 70px;
}

.w-100{
	width: 100%;
}


@media (min-width: 768px){
	.modal-dialog {
	    width: 450px;
    	margin:200px  auto;
	}
}
@media (max-width: 900px){
  .modal-dialog {
    width: auto;
    margin: 20px 10px;
  }
  .modal-body {
    position: relative;
    padding: 0px 20px;
  }
  #menu_h1{
    font-size: 22px;
  }
}
@media (max-width: 340px){
  #menu_h1{
    font-size: 15px;
  }
}


/* REGISTRO */
.switch-box {
	background: #fff;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;

}

.switch-box h2 {
  float: left;
  margin:4%;
  font-size: 14pt;
}

.switch {
  position: relative;
  margin: 0px 0 0px auto;
  height: 50px;  /* tamaño de la caja */
  width: 100px;
  background: #fff;
}

.switch select{
  cursor: pointer;
}
.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 48px;
  line-height: 45px;
  font-size: 15pt;
  color: #000;
  text-align: center;
  cursor: pointer;
}

.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

/*
  Note: using adjacent or general sibling selectors 
  combined with pseudo classes doesn't work in Safari 
  5.0 and Chrome 12.
  See this article for more info and a potential fix: 
  http://css-tricks.com/webkit-sibling-bug/
*/
.switch-input {
  display: none;
}

.switch-input:checked + .switch-label {
  font-weight: bold;
  color: #000;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}

.switch-input:checked + .switch-label-on ~ .switch-selection {
  /* Note: left: 50% doesn't transition in WebKit */
  left: 50px;
}

.switch-selection {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	background: #6a6a6a;
	-webkit-transition: left 0.33s ease-out;
	-moz-transition: left 0.33s ease-out;
	-o-transition: left 0.33s ease-out;
	transition: left 0.33s ease-out;
}
select{
	width: 100%;
	height: 100%;
	margin-left: 0em;
	font-size: 16pt;
	font-family: 'Microsoft JhengHei Light';
	border: none;
}

select option{
	margin-left: 1em;
	font-size: 16pt;
}
/*
@media(max-width: 768px){
   .switch-box{
    margin: 0px 3px auto;
  }
}
*/